<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body, html, iframe {
            border: none;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        body {
            text-align: center;
            background: #222;
        }

        iframe {
            background: white;
        }

        iframe.mobile-layout {
            max-width: 375px;
        }

        iframe.tablet-layout {
            max-width: 750px;
        }

    </style>
</head>
<body>
<iframe src="wrapper.html"></iframe>
</body>
</html>